.wrapper {
  width: 335px;
  height: 141px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  background: rgba(239, 237, 232, 0.05);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
}

.cardLabel {
  padding: 5px 7.5px;
  border-radius: 4px;
  background: rgba(239, 237, 232, 0.05);
}

.title {
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* width: 240px; */
}

.title::before {
  content: url(../../../assets/images/run-icon.svg);
  display: block;
  width: 24px;
  height: 24px;
  /* margin-right: 16px; */
}

.button {
  background: transparent;
  border: none;
  color: var(--primary-accent);
  font-size: 16px;
  line-height: 24px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.button::after {
  content: url(../../../assets/images/arrow-products-icon.svg);
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  margin-top: -3px;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.listItem {
  display: flex;
  flex-direction: row;
  gap: 4px;
  color: rgba(239, 237, 232, 0.4);
  font-size: 12px;
  line-height: 18px; /* 150% */
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 405px;
  }
}
