.products_card_diet {
  display: inline-flex;
  padding: 5px 7.5px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(239, 237, 232, 0.05);
}

.products_card_diet_text {
  color: var(--white);
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.products_card_status {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 27px;
  justify-content: space-between;
}

.products_card_info {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.products_card_info_item {
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 4px;
  color: rgba(239, 237, 232, 0.4);
  font-size: 12px;
  line-height: 18px;
}

.products_card_info_value {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--white);
  font-size: 12px;
  line-height: 18px;
}

.products_card_title {
  position: relative;
  font-size: 24px;
  line-height: 1.333;
  color: var(--white);

  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 40px;
  max-width: 100%;
}

.products_card_title::before {
  content: url(../../../assets/images/run-icon.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: calc(50% - 12px);
}

.products_card_btnAdd:hover,
.products_card_btnAdd:focus {
  color: var(--white);
  transition: var(--white) var(--transition-duration) var(--transition-cubic);
}

.products_card_btnAdd {
  background: transparent;
  border: none;
  color: var(--primary-accent);
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.products_card_btnAdd::after {
  content: url(../../../assets/images/arrow-products-icon.svg);
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  margin-top: -3px;
}

.products_status_recommended_text_true {
  color: var(--white);
  font-size: 12px;
  line-height: 18px;
  display: flex;
  margin-right: 16px;
  align-items: center;
}

.products_status_recommended_text_true::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background: #419b09;
  margin-right: 8px;
}

.products_status_recommended_text_false {
  color: var(--white);
  font-size: 12px;
  line-height: 18px;
  display: flex;
  margin-right: 16px;
  align-items: center;
}

.products_status_recommended_text_false::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background: #e9101d;
  margin-right: 8px;
}

.products_card_status_cont {
  display: flex;
  align-items: center;
}

.products_card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 141px;
  padding: 16px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  background: rgba(239, 237, 232, 0.05);
}

@media screen and (min-width: 768px) {
  .products_card {
    width: calc((100% - 16px) / 2);
    overflow: hidden;
  }
}

@media screen and (min-width: 1440px) {
  .products_card {
    max-width: 405px;
  }
}

.products_card {
  box-sizing: border-box;
}
