.logoutBtn {
  background-color: transparent;
  color: inherit;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 4px 0;
}

button {
  transition: color var(--transition-duration) var(--transition-cubic);
}

button:hover,
button:focus {
  color: var(--primary-accent);
}
