/* .userNav {
  display: none;
} */

/* @media screen and (min-width: 1440px) {
  .userNav {
    display: block;
  }
} */

/* .userNavList {
  display: flex;
  gap: 16px;
}

.userNavLink,
.userNavLinkActive {
  border: 1px solid #efede833;
  border-radius: 12px;
  display: block;
  padding: 10px 27px;
}

.userNavLink:hover,
.userNavLink:focus,
.userNavLinkActive {
  background-color: var(--primary-accent);
  border-color: var(--primary-accent);
} */
