.userBar {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.settingsLink {
  display: block;
  display: flex;
  justify-content: center;
}

.userSettings {
  stroke: var(--input-normal);
  width: 20px;
  height: 20px;
  transition: stroke var(--transition-duration) var(--transition-cubic);
}

.settingsLink:hover > .userSettings {
  stroke: var(--white);
}

.avatarWrapper {
  box-sizing: border-box;
  width: 37px;
  height: 37px;
  border: 1px solid var(--primary-accent);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.userBarAvatar {
  width: 15px;
  height: 15px;
}

.userAvatar {
  width: 100%;
}

.logoutIcon {
  stroke: var(--primary-accent);
  width: 20px;
  height: 20px;
}

.mobileLogoutIcon {
  stroke: var(--white);
}

.mobileNav {
  text-align: center;
}

.mobileNavItem:not(:last-child) {
  margin-bottom: 16px;
  border-radius: 12px;
}

.mobileNavLink,
.mobileNavLinkActive {
  border: 1px solid #efede833;
  border-radius: 12px;
  display: inline-block;
  padding: 10px 27px;
  transition: border-color var(--transition-duration) var(--transition-cubic);
}

.mobileNavLink:hover,
.mobileNavLink:focus,
.mobileNavLinkActive {
  border-color: var(--white);
}

.burgerLogOut {
  position: absolute;
  bottom: 20px;
  left: 20px;
  transition: color var(--transition-duration) var(--transition-cubic);
}

.burgerLogOut:hover,
.burgerLogOut:focus {
  color: var(--secondary-accent);
}

@media screen and (min-width: 768px) {
  .userBar {
    gap: 16px;
  }

  .avatarWrapper {
    width: 46px;
    height: 46px;
  }

  .userSettings {
    width: 24px;
    height: 24px;
  }

  .userBarAvatar {
    width: 17px;
    height: 17px;
  }

  .burgerLogOut {
    bottom: 32px;
    left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .userSettings {
    width: 28px;
    height: 28px;
  }
}
