.DayProducts {
  border: 1px solid #efede84d;
  border-radius: 12px;
  background-color: #efede80d;

  padding: 16px 0;

  margin-bottom: 32px;

  position: relative;
  /* height: 235px; */
  min-height: 335px;
  max-height: 824px;
  /* overflow-y: auto; */
  width: 100%;
  box-sizing: border-box;
}

.DayProductsHead {
  margin: 0px 16px 0px 16px;
  display: flex;
  justify-content: space-between;
}
.DayProductsHead h2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;

  text-align: left;
  color: #efede880;
}
.DayProductsHead p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;

  text-align: left;
  color: #e6533c;
}
.DayProducts ::-webkit-scrollbar {
  width: 6px;
}
.DayProducts ::-webkit-scrollbar-thumb {
  background: #efede81a;
  border-radius: 12px;
  /* height: 25px; */
}
span {
  display: flex;
  align-items: center;
  gap: 8px;
}
span {
  display: flex;
  align-items: center;
  gap: 8px;
}
span p {
  display: inline-block;
}

/* ------------------------------------- */
/* TABLE */

.DayProducts .tdDellete {
  border: none;
  padding: 0px;
}
.DayProducts .tdDellete button {
  display: block;
  padding: 0px;
  background-color: transparent;
}
.DayProducts .tdDellete svg {
  display: block;
  width: 20px;
  height: 20px;
}

.DayProducts table {
  position: relative;
  gap: 8px;
  border-spacing: 8px;
  border: none;
}

.DayProducts thead {
  display: block;
  height: 18px;
}
.DayProducts tbody {
  display: block;
  /* height: 146px; */
  margin-top: 8px;
  max-height: 740px;
  overflow-y: auto;
  padding: 0px;
}
.DayProducts thead,
.DayProducts tbody {
  padding-right: 12px;
}
.DayProducts tbody tr {
  height: 38px;
}

.DayProducts th {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;

  text-align: left;
  color: #ef8964;

  text-align: left;
  color: #ef8964;
}
.DayProducts td {
  border-radius: 12px;
  border: 1px solid #efede84d;
  padding-left: 14px;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
td {
  height: 38px;
}

.tdTitle,
.thTitle {
  width: 212px;
}

.tdCategory,
.thCategory {
  width: 164px;
}
.tdCalories,
.thCalories {
  width: 105px;
}
.tdWeight,
.thWeight {
  width: 105px;
}
.tdRecommend,
.thRecommend {
  width: 110px;
}
/* ---------------------------------- */

.recommendCircle {
  display: block;
  width: 14px;
  height: 14px;
}

@media screen and (min-width: 768px) {
  .DayProducts {
    min-height: 0;
    height: 234px;
  }
  .DayProducts tbody {
    height: 146px;
  }
  .DayProducts tbody tr {
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .DayProducts {
    /* min-height: 0;
    height: 234px; */

    /* min-height: 335px; */
    /* max-height: 1064px; */

    padding-left: 16px;
    padding-right: 8px;
  }
  .DayProductsHead {
    margin: 0px 8px 0px 0px;
  }
  .DayProductsTable {
    /* padding-bottom: 16px; */
  }

  .tdDellete {
    padding-left: 0px;
  }
  .tdDellete svg {
    display: block;
    width: 20px;
    height: 20px;
  }

  .DayProductsTable table {
    border-spacing: 0px;
  }
  .DayProducts tbody {
    padding-right: 0px;

    margin-top: 22px;

    width: 309px;
    /* height: 986px; */
  }
  .DayProducts thead {
    display: none;
  }

  .DayProducts tbody tr {
    display: block;
    height: 240px;

    margin-top: 24px;
  }
  .DayProducts td {
    position: relative;

    display: inline-grid;
    align-items: center;

    /* height: 38px; */
    margin-bottom: 42px;
  }

  .DayProducts td:nth-of-type(1) {
    width: 297px;
  }
  .DayProducts td:nth-of-type(1)::before {
    content: "Title";
    position: absolute;
    top: -24px;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #ef8964;
  }

  .DayProducts td:nth-of-type(2) {
    width: 297px;
  }
  .DayProducts td:nth-of-type(2)::before {
    content: "Category";
    position: absolute;
    top: -24px;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #ef8964;
  }

  .DayProducts td:nth-of-type(3) {
    width: 81px;
    margin-right: 16px;
  }
  .DayProducts td:nth-of-type(3)::before {
    content: "Calories";
    position: absolute;
    top: -24px;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #ef8964;
  }

  .DayProducts td:nth-of-type(4) {
    width: 80px;
    margin-right: 16px;
  }
  .DayProducts td:nth-of-type(4)::before {
    content: "Weight";
    position: absolute;
    top: -24px;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #ef8964;
  }

  .DayProducts td:nth-of-type(5) {
    width: 78px;
    margin-right: 8px;
  }
  .DayProducts td:nth-of-type(5)::before {
    content: "Recomended";
    position: absolute;
    top: -24px;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #ef8964;
  }
}
.not_found {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: -20px; */
}
