.SubcategoriesList {
  padding-top: 40px;
  padding-bottom: 80px;
}

.exercisesList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .SubcategoriesList {
    padding-top: 64px;
    padding-bottom: 78px;
  }

  .exercisesList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 16px;
  }
}
@media screen and (min-width: 1440px) {
  .SubcategoriesList {
    padding-bottom: 92px;
  }
}
