.header {
  box-sizing: border-box;
  padding: 12px 0;
  border-bottom: 1px solid #efede833;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 786px) {
  .header {
    padding: 19px 0;
  }
}

@media screen and (min-width: 1440px) {
  .authUser {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}
