.signBtn {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: inherit;
  background-color: var(--primary-accent);
  color: var(--white);
  border-radius: 12px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(18 / 16);
  border: 1px solid rgba(239, 237, 232, 0.3);
  transition: background 0.3s ease-out;
}
.signBtn:hover {
  color: var(--white);
  background: #ef8964;
}

@media screen and (min-width: 768px) {
  .signBtn {
    padding: 16px 60px;
    font-size: 20px;
    line-height: 1.2;
  }
}
