.welcomeBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(170deg, #040404 3.66%, rgba(4, 4, 4, 0) 19.15%),
    linear-gradient(73deg, #040404 6.11%, rgba(4, 4, 4, 0) 66.68%),
    url(../../assets/images/mobile/other@1x/side-view-people-training-gym@1x.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .welcomeBackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(170deg, #040404 3.66%, rgba(4, 4, 4, 0) 19.15%),
      linear-gradient(73deg, #040404 6.11%, rgba(4, 4, 4, 0) 66.68%),
      url(../../assets/images/tablet/other@1x/side-view-people-training-gym@1x.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .welcomeBackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(170deg, #040404 3.66%, rgba(4, 4, 4, 0) 19.15%),
      linear-gradient(73deg, #040404 6.11%, rgba(4, 4, 4, 0) 66.68%),
      url(../../assets/images/desktop/other@1x/side-view-people-training-gym@1x.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    margin: 0 auto;
  }
}
.buttonsLine {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 52px;
}
@media screen and (min-width: 768px) {
  .buttonsLine {
    margin-top: 64px;
  }
}

.title {
  max-width: 335px;
  font-size: 38px;
  font-weight: 500;
  line-height: calc(40 / 38);
  letter-spacing: 0.38px;
  background: transparent;
  text-align: left;
  margin-top: 127px;
}
@media screen and (min-width: 768px) {
  .title {
    max-width: 598px;
    font-size: 70px;
    font-weight: 500;
    line-height: calc(78 / 70);
    letter-spacing: 0.38px;
    background: transparent;
    text-align: left;
    margin-top: 127px;
  }
  .bodyLine::after {
    position: absolute;
    top: calc(50% - 65px / 2);
    left: calc(50% - 185px / 2);
    content: url(../../assets/images/line.svg);
    width: 185px;
  }
}
.bodyLine {
  display: inline;
  position: relative;
}
.bodyLine::after {
  position: absolute;
  top: calc(50% - 35px / 2);
  left: calc(50% - 98px / 2);
  content: url(../../assets/images/line.svg);
  width: 98px;
}
@media screen and (min-width: 768px) {
  .bodyLine::after {
    position: absolute;
    top: calc(50% - 65px / 2);
    left: calc(50% - 185px / 2);
    content: url(../../assets/images/line.svg);
    width: 185px;
  }
}
.signUpBtn {
  border: none;
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: inherit;
  background-color: var(--primary-accent);
  color: var(--white);
  border-radius: 12px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(18 / 16);
  margin-bottom: 12px;
}
.signUpBtn:hover {
  color: var(--white);
  background: var(--secondary-accent);
}

.signInBtn {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: inherit;
  background-color: transparent;
  color: var(--white);
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.3);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(18 / 16);
  margin-bottom: 12px;
}
.signInBtn:hover {
  color: var(--white);
  background: transparent;
  border-color: var(--primary-accent);
}
