.primary {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  padding-top: 65px;
  padding-bottom: 20px;
  height: 100vh;
  position: relative;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: right bottom;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.welcomeBackground {
  position: absolute;
  height: 100%;
  min-width: 446px;
  min-height: 669px;
  background: linear-gradient(159deg, #040404 0%, rgba(4, 4, 4, 0) 100%),
    linear-gradient(82deg, #040404 1.35%, rgba(4, 4, 4, 0) 100%),
    url(../../assets/images/mobile/other@1x/side-view-people-training-gym@1x.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .welcomeBackground {
    position: absolute;
    height: 100%;
    min-width: 446px;
    min-height: 669px;
    background: linear-gradient(159deg, #040404 0%, rgba(4, 4, 4, 0) 100%),
      linear-gradient(82deg, #040404 1.35%, rgba(4, 4, 4, 0) 100%),
      url(../../assets//images/tablet/other@1x/side-view-people-training-gym@1x.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 0 auto;
  }
}

.buttonsLine {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 221px;
}

.title {
  max-width: 335px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  font-size: 38px;
  font-weight: 500;
  line-height: calc(40 / 38);
  letter-spacing: 0.38px;
  background: transparent;
  text-align: left;
}

.bodyLine {
  display: inline;
  position: relative;
}
.bodyLine::after {
  position: absolute;
  top: calc(50% - 35px / 2);
  left: calc(50% - 98px / 2);
  content: url(../../assets/images/line.svg);
  width: 98px;
}
