.videoCountBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--grey-background);
  width: 146px;
  height: 66px;
  margin-left: 121px;
}
@media screen and (min-width: 768px) {
  .videoCountBox {
    background: var(--grey-background);
    width: 206px;
    height: 96px;
    margin-left: 331px;
    gap: 12px;
  }
}
.videoCountBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-accent);
  border-radius: 50%;
}

.videoPlayIcon {
  width: 12px;
  height: 12px;
}
@media screen and (min-width: 768px) {
  .videoPlayIcon {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 768px) {
  .videoCountBack {
    width: 40px;
    height: 40px;
  }
}
.videoCount {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(18 / 16);
}
@media screen and (min-width: 768px) {
  .videoCount {
    font-size: 24px;
    line-height: calc(24 / 24);
  }
}
.videoTutorial {
  color: rgba(239, 237, 232, 0.65);
  font-family: Roboto;
  font-size: 12px;
  line-height: calc(16 / 12);
}
@media screen and (min-width: 768px) {
  .videoTutorial {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
