.diary_item {
  width: 161px;
  height: 96px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  background: rgba(239, 237, 232, 0.05);
}
.svg {
  width: 20px;
  height: 20px;
}

.diary_item_red {
  background-color: #e6533c;
}
.header {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 12px;
  font-feature-settings: "clig" off, "liga" off;
  font-weight: 400;
  line-height: 1.33;
  color: rgba(239, 237, 232, 0.8);
}
.content {
  color: #efede8;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.15;
}

@media screen and (min-width: 768px) {
  .diary_item {
    width: 187px;
    height: 116px;
    padding: 18px 40px 18px 18px;
  }
  .content {
    font-size: 24px;
    line-height: 1.33;
  }
}
