.diary_page {
  width: 100%;
}
.header {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 20px;
}
.content {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
}
.tables {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .content {
    gap: 64px;
    flex-direction: column;
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 1440px) {
  .content {
    gap: 32px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
  }
}
