.burgerMenu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  background-color: var(--primary-accent);
  width: 200px;
  height: 100vh;
  padding-top: 245px;
  padding-left: 43px;
  padding-right: 43px;
  transform: translateX(600px);
  transition: all 0.35s ease-in 0s;
  opacity: 0;
}
.transitionOpen {
  transform: translateX(0);
  opacity: 1;
}

.menuBtn,
.menuCloseBtn {
  background: none;
  padding: 0;
  cursor: pointer;
}

.burgerIcon,
.closeMenuIcon {
  width: 24px;
  height: 24px;
}

.menuCloseBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.mobileMenu {
  position: relative;
  cursor: pointer;
}

.closeMenuIcon {
  stroke: var(--white);
}

@media screen and (min-width: 768px) {
  .burgerMenu {
    width: 350px;
    height: 1024px;
  }

  .menuCloseBtn {
    top: 26px;
    right: 32px;
  }

  .burgerIcon,
  .closeMenuIcon {
    width: 32px;
    height: 32px;
  }
}
