@media screen and (min-width: 1440px) {
  .products_section {
    background: linear-gradient(89deg, #040404 0%, rgba(4, 4, 4, 0) 100%),
      url(../../assets/images/desktop/other@1x/side-view-people-training-gym-5@1x.jpg);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 68px;
    position: relative;
    min-height: 681px;
  }
}

@media screen and (min-width: 375px) {
  .products_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: var(--white);
    margin-top: 40px;
    margin-bottom: 40px;
    position: static;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1440px) {
  .products_title {
    font-size: 32px;
    line-height: 44px;
    position: absolute;
    top: 72px;
    margin: 0;
  }
}
