.products_list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 860px;
  max-height: 470px;
  overflow-y: scroll;
}

.products_list::-webkit-scrollbar {
  width: 8px; /* ширина всей полосы прокрутки */
}

.products_list::-webkit-scrollbar-track {
  background: rgba(239, 237, 232, 0.1); /* цвет зоны отслеживания */
  border-radius: 12px;
}

.products_list::-webkit-scrollbar-thumb {
  background-color: #ef8964; /* цвет бегунка */
  border-radius: 12px; /* округлось бегунка */
  /* border: 3px solid orange; отступ вокруг бегунка */
}
