.day_dashboard_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.day_dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left {
  display: flex;
  gap: 13px;
}
.rigth {
  display: flex;
  flex-direction: column;
  gap: 20px 13px;
}
.btns1 {
  display: flex;
  gap: 13px;
}
.btns2 {
  display: flex;
  gap: 13px;
}
.diary_item_red {
  background: #e6533c;
}

.exclamation {
  display: flex;
  gap: 8px;
  color: rgba(239, 237, 232, 0.3);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .day_dashboard_container {
    width: 593px;
    gap: 32px;
  }
  .day_dashboard {
    flex-direction: row;
    gap: 16px;
  }

  .left {
    flex-direction: column;
  }
  .rigth {
    gap: 16px;
    flex-direction: row;
  }
  .btns1 {
    flex-direction: column;
  }
  .btns2 {
    flex-direction: column;
  }
}
@media screen and (min-width: 1440px) {
  .day_dashboard_container {
    width: 380px;
    gap: 48px;
  }
  .day_dashboard {
    flex-direction: column;
  }
  .left {
    flex-direction: row;
  }

  .rigth {
    flex-direction: column;
  }
  .btns1 {
    flex-direction: row;
  }
  .btns2 {
    flex-direction: row;
  }
}

