.DatePicker {
  position: relative;
  display: inline-block;
}

.DatePicker__input {
  border: none;
  background: inherit;

  border-radius: 6px;
  color: #efede8;

  font-size: 18px;

  font-weight: 700;
  line-height: 20px;
  width: 100px;
  height: 20px;
}

.DatePicker__input:focus {
  outline: none;
}

.DatePicker__input--invalid {
  border-color: red;
  color: white;
}

.DatePicker__popup {
  position: absolute;
  top: 100%;
  left: 0;
}
.CalendarPanel {
  border-radius: 8px;
  background: var(--secondary-accent);
}
.CalendarPanel__header {
  height: 47px;
  border-bottom: none;
}

.CalendarPanel__date {
  text-align: center;
}

.CalendarPanel__content {
  padding: 14px;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(7, 1fr);
  width: 215px;
  height: 215px;
}
.btn {
  background-color: inherit;
}
.CalendarPanel__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.CalendarPanel__buttons-right,
.CalendarPanel__buttons-left {
  display: flex;
  gap: 8px;
  margin: 0 8px;
}

.CalendarPanelItem {
  width: 26.7px;
  height: 26.7px;
  font-size: 14px;

  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

.CalendarPanelItem:hover .CalendarPanelItem__date,
.CalendarPanelItem:focus .CalendarPanelItem__date {
  background-color: var(--primary-accent);
  color: white;
}

.CalendarPanelItem--forehead {
  color: rgba(239, 237, 232, 0.5);
}

.CalendarPanelItem--today {
  color: red;
}

.CalendarPanelItem__date {
  border-radius: 50%;
  padding: 1px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-cubic);
}

.CalendarPanelItem--selected .CalendarPanelItem__date {
  background-color: black;
  color: white;
}

.CalendarPanelItem--not-current .CalendarPanelItem__date {
  opacity: 0.5;
}

.CalendarPanelItem--not-in-range {
  cursor: not-allowed;
}

.CalendarPanelItem--not-in-range .CalendarPanelItem__date {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .DatePicker__input {
    font-size: 24px;
    width: 140px;
  }
}
